.aboutus {
  padding-bottom: 5%;
  padding-top: 5%;  
  
   &-beginning {
      padding: 2%;
      padding-bottom: 5%;
      padding-top: 5%;
      
      h2 {
        text-align: center;
      }
  
      h2, p {
        padding-bottom: 2%;
      
    }
    
    table {
      padding-bottom: 1%;
      padding-top: 1%;
      text-align: center;
      width: 90%;
     
    }
    

  
}


  &-otherservices {
    padding: 2%;
    padding-bottom: 5%;
    padding-top: 5%;
    
      h2, p {
        padding-bottom: 2%;
        
    }
    
    tr, th, td {
      padding-bottom: 2%;
    }
    
    th {
      text-align: center;
    }
}

}