
/*------------------ Custom Navigation--------------------------------------------------------------------------------- */

.row {
	img {
		width: 100%; 
	}
}



/* ------------------Full page style---------------------------------------------------------------------------------- */



	body > div.container-fluid.page {

	  -webkit-box-shadow: 0px 0px 57px 5px rgba(0,0,0,0.75);
	  -moz-box-shadow: 0px 0px 57px 5px rgba(0,0,0,0.75);
	  box-shadow: 0px 0px 57px 5px rgba(0,0,0,0.75);

	}


	body {
		 /* background-color: #eaeaea; */
            background-color: white;
    font-size: 100%;
    

		  h1 {
			   font-family: 'orbitron';
			   font-size: 100%;
			    
			                @media screen and (min-width: 0px) and (max-width: 599px){
			                     font-size: 1.3em;
			                     }
			               
			                @media screen and (min-width: 600px) and (max-width: 1100px){
		                       font-size: 1.3em;
		                       }
		                     
		                     
		                  @media screen and (min-width: 1101px) and (max-width: 1600px){
		                      font-size: 1.3em;
		                      } 
		                     
		                  @media screen and (min-width: 1601px) and (max-width: 2800px){
		                      font-size: 1.6em;
		                      }
		                      
		            }		
		            
		  h2 {
		     font-family: 'orbitron';
			   font-size: 100%;
		        
			                @media screen and (min-width: 0px) and (max-width: 599px){
			                     font-size: 1.3em;
			                     }
			               
			                @media screen and (min-width: 600px) and (max-width: 1100px){
		                       font-size: 1.2em;
		                       }
		                     
		                     
		                  @media screen and (min-width: 1101px) and (max-width: 1600px){
		                      font-size: 1.3em;
		                      } 
		                     
		                  @media screen and (min-width: 1601px) and (max-width: 2800px){
		                      font-size: 1.6em;
		                      }
		    
}
		  
		  
		  
		  h3 {
		    
		     font-family: 'orbitron';
			   font-size: 100%;
		    
		    
			                @media screen and (min-width: 0px) and (max-width: 599px){
			                   font-size: 1.3em;
			                   }
			               
			                @media screen and (min-width: 600px) and (max-width: 1100px){
		                     font-size: 1.3em;
		                     }
		                     
		                     
		                  @media screen and (min-width: 1101px) and (max-width: 1600px){
		                      font-size: 1.2em;
		                      } 
		                     
		                  @media screen and (min-width: 1601px) and (max-width: 2800px){
		                      font-size: 1.6em;
		                      }
		    
		  }
		            
		            
		            
		                      
		          
		          p {
		            
		            font-family: 'open sans';
		            
		                   @media screen and (min-width: 0px) and (max-width: 599px){font-size: .9em;}
		                   @media screen and (min-width: 990px) and (max-width: 1270px){font-size: .9em;}
		                   @media screen and (min-width: 1271px) and (max-width: 1600px){font-size: .9em}
		                   @media screen and (min-width: 1601px) and (max-width: 2800px){font-size: 1em;}
  }            
		                      
		                   
		                    
		                    
}


/*----------------------- left_column heading----------------------------------------------------------------------------- */

.content-1-heading {
    margin-bottom: 5%;
	  margin-top: 2%;
	  padding-left: 1%;

      h3 {
        text-align: center;
        letter-spacing: 5px;
         }

      
      p {
        margin-bottom: 5%;
        padding: 5px;
        }
        
}


/* right_column heading */

.content-2-heading {
      margin-top: 2%;
      margin-bottom: 5%;

          h3 {
            text-align: center;
            letter-spacing: 5px;
            }


          p {
            text-align: center;
            }

}




/*-------------------------- 404 page---------------------------------------------------------------------------------------- */
.fourhundred_four {
  
  padding-bottom: 20%;
  padding-top: 3%;
  text-align: center  
      

  
}


.foundhundred_four h3 {
  padding-bottom: 5%;
  
}




/*----------------------------------------------------------------------------------------------------------------------------*/



body > div > nav > ng-include > div > div > div.Portfolio.ng-scope {
	
	height: 20%;


}
