/*Entire Page */

.page {
  background: white;
  margin-left: auto;
  margin-right: auto;
	width: 80%;
}


/* Header section */

header {
    height:150px;
    margin-bottom: 3%;
    padding:2%;
	  width:100%;
	  
	  
/*  Heading Font */
        	  
	      span {
		          color: black;
	           }
	
	         
	       h1 {
		           color: #F8A100;
		        }
	
	        
	        h3 {
	          
	          
	          
	          @media screen and (min-width: 0px) and (max-width: 500px){
	            letter-spacing: 0px;
	            
	          }
	          
	          @media screen and (min-width: 501px) and (max-width: 1366px){
	            letter-spacing: 4px;
	          
	          }
	          @media screen and (min-width: 1367px) and (max-width: 2800px){
	            letter-spacing: 4px;
	            
	          }
	        }
		
/*Mousebit contact information in header */

	.contact {
		    font-family: 'open sans';
      	

	
/* Default link styles for contact */

	         a {
	           color: black;
		         text-decoration: none;
		         
		         }
		 

/* Padding for different resolutions*/
		 
      @media screen and (min-width: 0px) and (max-width: 500px) {
            font-size: .7em;
            padding-bottom: 10%;
            padding-top: 7%;
            
      }		 
      
      @media screen and (min-width: 501px) and (max-width: 1024px){
            font-size: .7em;
            margin-top: 5%;
            
      }
		 
		 
/*button icon 2 for contact in header */
		                    
		.contact-btn-2 {
		        font-family: 'open sans';
		        margin-bottom: 2%;
		                }


 /*button icon 1 for contact in header */
	                      
	  .contact-btn-1 {
		        margin-bottom: 1%;
                   }
                   
                   
  }

	.Logo {

		&-site {
		  font-size: 2em;
			font-weight:bold;
			line-height:20px;        
		}


	}
}



nav {
	
	
	 @media screen and (max-width: 500px) {
     
      padding-top: 20%;
     
   }
   
   @media screen and (min-width: 501px) and (max-width:991px){
     
     padding-top:10%;
     font-size: .7em;
   }
   
   @media screen and (min-width: 992px) and (max-width: 1280px){
     
     padding-top: 1%;
     font-size: .7em;
     
   }
	
	
	
    }
 
    
.navbar {
	width: 100%;
		
	&-default {
	  background:none !important;
		border:0px !important;
		margin: 0px;
	}
	
	
	&-header {
		width: 100%;
	}
	

	&-nav {
		width: 100%;

		  li {
		    font-size: 1.4em;	
			  margin-left: 5%;
			   }
	
	     }
}


.heading {
  background:black;
  color:white;
	height:40px;
  text-align:center;
	width:100%;
}
.Portfolio {
display:none;
height:350px;
left:0;
background:#ccc;
width:100%;
}


.logo_img {
  width: 20% !important;
  float: left;
  margin-top: -4%;
  margin-right: -2%;

}


