.Home {
  &-slider {
    position: relative;
    top: 0px;
    left: 0px;
    height: 300px;
    width: 100%;
    background-image: url("/Upload/Image/slider2.png");
    background-size:100% 100%;
    background-repeat: no-repeat;

    &-slides {
      cursor: move;
      position: absolute;
      overflow: hidden;
      left: 0px;
      top: 30%;
      width: 100%;
      height: 300px;
      text-align: center;

        hr {
          width:50%;
          margin-top:-1%;
        }
        h1 {
          font-size: 200%;
          color: white;
          font-weight:bold;
          text-shadow: 2px 3px #000000;
        }
        p {
          font-size: 130%;
          color: white;
          text-shadow: 2px 2px #000000;
        }

    }

  }

}
.btn-primary {
    font-size: 150%;
    background: orange;
    color: black;

}

.btn-primary:hover {
    background: lightgray;

}

.Services {
	& .col-md-4 {

      padding: 8% 0;
      border: 1px solid black;
      border-radius: 10px;
      margin-top: 7%;
      width: 30%;
      margin-left: 3%;
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      color: black;
        &:hover { box-shadow:none; }
      
      @media screen and (min-width: 1px) and (max-width: 1005px){
       width: 100%;
        margin-left: 0%;

      }

      @media screen and (min-width: 1600px) and (max-width: 2400px) {
        padding: 4% 0;
        margin-top: 5%;

      }


	}

	& .wdev_button {
      background: rgba(147,206,222,1);
      background: -moz-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
      background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
      background: -o-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
      background: -ms-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
      background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
	}


	& .wdesign_button {
      background: rgba(210,255,82,1);
      background: -moz-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(210,255,82,1)), color-stop(100%, rgba(145,232,66,1)));
      background: -webkit-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
      background: -o-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
      background: -ms-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
      background: linear-gradient(to right, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );
	
	}

	& .marketing_button {
      background: rgba(76,76,76,1);
      background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(102,102,102,1) 0%, rgba(28,28,28,1) 0%, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 0%, rgba(71,71,71,1) 0%, rgba(43,43,43,1) 76%, rgba(19,19,19,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(0%, rgba(89,89,89,1)), color-stop(0%, rgba(102,102,102,1)), color-stop(0%, rgba(28,28,28,1)), color-stop(0%, rgba(0,0,0,1)), color-stop(0%, rgba(17,17,17,1)), color-stop(0%, rgba(71,71,71,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(100%, rgba(19,19,19,1)));
      background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(102,102,102,1) 0%, rgba(28,28,28,1) 0%, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 0%, rgba(71,71,71,1) 0%, rgba(43,43,43,1) 76%, rgba(19,19,19,1) 100%);
      background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(102,102,102,1) 0%, rgba(28,28,28,1) 0%, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 0%, rgba(71,71,71,1) 0%, rgba(43,43,43,1) 76%, rgba(19,19,19,1) 100%);
      background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(102,102,102,1) 0%, rgba(28,28,28,1) 0%, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 0%, rgba(71,71,71,1) 0%, rgba(43,43,43,1) 76%, rgba(19,19,19,1) 100%);
      background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(102,102,102,1) 0%, rgba(28,28,28,1) 0%, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 0%, rgba(71,71,71,1) 0%, rgba(43,43,43,1) 76%, rgba(19,19,19,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
      color: white;

	}

}

