.container {
  .row {
    .col-md-4 {
      .container {
        transition: 0.5s linear all;
        opacity: 1;
      }
      .container.ng-hide {
        opacity: 0;
      }
    }
  }
}
.Login {
  &-spinner {
    transition: linear all 1s;
    opacity: 1;
    background:url('/images/ajax-loader.gif') no-repeat;
    background-size: 100% 100%;
    display:block;
    margin:0 auto;
    height:200px;
    width:200px;
    margin-top:10%;
  }
  &-spinner.ng-hide {
    opacity:0;
  }
}
