nav {
	
	
	 @media screen and (max-width: 500px) {
     
      padding-top: 20%;
     
   }
   
   @media screen and (min-width: 501px) and (max-width:991px){
     
     padding-top:10%;
     font-size: .7em;
   }
   
   @media screen and (min-width: 992px) and (max-width: 1280px){
     
     padding-top: 1%;
     font-size: .8em;
     
   }
	
	@media screen and (min-width: 1281px) and (max-width: 1440px){
	  
	  font-size: 1.3em;
	  
	}
	
	
}
 
 
 
 
    
.navbar {
	width: 100%;
		
	&-default {
	  background:none !important;
		border:0px !important;
		margin: 0px;
	}
	
	
	&-header {
		width: 100%;
	}
	

	&-nav {
		width: 100%;

		  li {
		    font-size: 1.4em;	
			   }  
			   
	
	     }
	     
	 @media screen and (min-width:700px) and (max-width: 1024px){
	   
	   li {
	     
	     font-size: .9em;
	     
	   }
	   
	 }    
	     
	     
  @media screen and (min-width: 1281px) and (max-width: 1440px) {  
    
      li {
        
        font-size: 1em;
        
      }
    
  }	     
	     
	     
	     
	     
}








.socialmedia {
 
    padding-left: 20%;
    
  img {
    width: 77%;
    
    &:hover {
        width:80%;
    }
    
    
  } 
  
 

  @media screen and (min-width: 700px) and (max-width: 1440px) {
    
  img {
    width: 50%;
    
    &:hover {
        width:60%;
    }
    
  }      
    
  }
    

  li {
    
    margin-left: 0%;
    float: left;
    margin-right: -3%;
    
  }







  @media screen and (min-width: 1441px) and (max-width: 2100px){
    
    
    

  li:nth-child(1){
    margin-left: 17.7%;
  }
  
  }
  
  @media screen and (min-width: 700px) and (max-width: 1440px) {
    
  li {
    margin-right: -6.4%;
    
  }
    
  li:nth-child(1) {
    
  /*  margin-left: 2%;*/
    
  }  
    
  }
  
}
