.aboutus {
  
   &-beginning {
    width: 100%;
    padding: 5%;
    background-color: rgb(243,243,243);
    //  padding-bottom: 2%;
    //  padding-top: 2%;
      
      h2 {
        text-align: center;
      }
  
      h2, p {
        padding-bottom: 2%;
      
    }
    
    table {
      padding-bottom: 1%;
      padding-top: 1%;
      text-align: center;
      width: 90%;
     
    }
    

  
}


  &-otherservices {
    padding: 2%;
    padding-top: 5%;
    
      h2, p {
        padding-bottom: 2%;
        
    }
    
    tr, th, td {
      padding-bottom: 2%;
    }
    
    th {
      text-align: center;
    }
}

}

.chris, .justice {
    padding: 5%;
}

.chris h2, .justice h2 {
    text-align: center;
    padding-bottom: 3%;
}

.chris h3, .justice h3 {
    padding-bottom: 1%;
    background-color: orange;
}

.chris h3 {
    width: 12%;
    padding: .5%;
    
}

.justice h3 {
    width: 12%;
    padding: .5%;
}

