
/*------------------ Custom Navigation--------------------------------------------------------------------------------- */

.row {
	img {
		width: 100%; 
	}
}



/* ------------------Full page style---------------------------------------------------------------------------------- */



	body > div.container-fluid.page {

	  -webkit-box-shadow: 0px 0px 57px 5px rgba(0,0,0,0.75);
	  -moz-box-shadow: 0px 0px 57px 5px rgba(0,0,0,0.75);
	  box-shadow: 0px 0px 57px 5px rgba(0,0,0,0.75);

	}


	body {
		 /* background-color: #eaeaea; */
            background-color: white;
    font-size: 100%;
    

		  h1 {
			   font-family: 'orbitron';
			   font-size: 100%;
			    
			                @media screen and (min-width: 0px) and (max-width: 599px){
			                     font-size: 1.3em;
			                     }
			               
			                @media screen and (min-width: 600px) and (max-width: 1100px){
		                       font-size: 1.3em;
		                       }
		                     
		                     
		                  @media screen and (min-width: 1101px) and (max-width: 1600px){
		                      font-size: 1.3em;
		                      } 
		                     
		                  @media screen and (min-width: 1601px) and (max-width: 2800px){
		                      font-size: 1.6em;
		                      }
		                      
		            }		
		            
		  h2 {
		     font-family: 'orbitron';
			   font-size: 100%;
		        
			                @media screen and (min-width: 0px) and (max-width: 599px){
			                     font-size: 1.3em;
			                     }
			               
			                @media screen and (min-width: 600px) and (max-width: 1100px){
		                       font-size: 1.4em;
		                       }
		                     
		                     
		                  @media screen and (min-width: 1101px) and (max-width: 1600px){
		                      font-size: 1.3em;
		                      } 
		                     
		                  @media screen and (min-width: 1601px) and (max-width: 2800px){
		                      font-size: 1.6em;
		                      }
		    
}
		  
		  
		  
		  h3 {
		    
		     font-family: 'orbitron';
			   font-size: 100%;
		    
		    
			                @media screen and (min-width: 0px) and (max-width: 599px){
			                   font-size: 1.3em;
			                   }
			               
			                @media screen and (min-width: 600px) and (max-width: 1100px){
		                     font-size: 1.3em;
		                     }
		                     
		                     
		                  @media screen and (min-width: 1101px) and (max-width: 1600px){
		                      font-size: 1.2em;
		                      } 
		                     
		                  @media screen and (min-width: 1601px) and (max-width: 2800px){
		                      font-size: 1.6em;
		                      }
		    
		  }
		            
		            
		            
		                      
		          
		          p {
		            
		            font-family: 'open sans';
		            
		                   @media screen and (min-width: 0px) and (max-width: 599px){font-size: 1em;}
		                   @media screen and (min-width: 990px) and (max-width: 1270px){font-size: 1em;}
		                   @media screen and (min-width: 1271px) and (max-width: 1600px){font-size: 1em}
		                   @media screen and (min-width: 1601px) and (max-width: 2800px){font-size: 1.2em;}
  }            
		                      


.text-center {

	font-size: 20pt;
}



.Testimonials {
	padding: 2%;
	padding-top: 4%;
	background-color: rgb(243,243,243);
	width: 97.9%;
	margin-left: 1%;
	margin-bottom: 2%;
}
		                   
.Testimonials h3 {
	font-size: 1.2em;

}		                    
		                    
#content > div:nth-child(4) > div > blockquote {
	font-size: 12pt;


}


div.contact-btn-1 > button {

	background-color: white !important;

}


div.contact-btn-2 > button {
	background-color: white !important;

}

.btn-lg {
	background-color: #007DF7;
	color: white;
	margin-bottom: 2%;

}
	
.btn-primary {
	background-color: #007DF7;

}
.mousebit-location {
	padding-right: 4%;
	padding-left: 4%;
	font-size: 13pt;
	padding-top: 7%;
	padding-bottom: 2%;
}

.mousebit-location h3 {
	margin-bottom: 1%;
	text-align: center;
}


.mousebit-workprocess {
	//padding-top: 4%;
	//padding-right: 4%;
	//padding-left: 4%;
	font-size: 13pt;
	width: 97.9%;
	padding: 2%;
	padding-top: 4%;
	padding-bottom: 4%;
	margin-left: 1%;
	margin-top: 2%;
	background-color: rgb(243,243,243);
}

.mousebit-workprocess h3 {
	margin-bottom: 1%;
	text-align: center;

}

.services-row-1, .services-row-2, .services-row-3, .services-row-4, .services-row-5, .services-row-6, .services-row-7 {
	padding: 1%;

}


.Home-webDev h1 {
	color: orange;

}

#slider1_container > div > div > div:nth-child(2) > div.Home-webDesign > h1 {
	color: orange;

}

/*----------------------- left_column heading----------------------------------------------------------------------------- */

.content-1-heading {
	  padding-left: 4%;
	  padding-right: 4%;
	  padding-top: 7%;
	  

      h3 {
        text-align: center;
        letter-spacing: 5px;
         }

      
      p {
        margin-bottom: 5%;
        padding: 5px;
        }
        
}


/* right_column heading */

.content-2-heading {
      margin-top: 2%;
      margin-bottom: 5%;

          h3 {
            text-align: center;
            letter-spacing: 5px;
            }


          p {
            text-align: center;
            }

}




/*-------------------------- 404 page---------------------------------------------------------------------------------------- */
.fourhundred_four {
  
  padding-bottom: 20%;
  padding-top: 3%;
  text-align: center  
      

  
}


.foundhundred_four h3 {
  padding-bottom: 5%;
  
}




/*----------------------------------------------------------------------------------------------------------------------------*/



body > div > nav > ng-include > div > div > div.Portfolio.ng-scope {
	
	height: 20%;


}}



/*----------------------------mobile---------------------------------*/


@media screen and (max-width:600px){
.page {
	width: 100% !important;

      }
}
