footer {
	.footer-nav {
	padding: 2%;
	text-align: center;
	font-size: 16pt;
}
	.footer-nav h3 {
	font-size: 14pt;
	color: orange;
	padding: 2%;

}

	  .row {
        background-color: black;
	
		    .companyname {
		        color: white;
			      text-align: center;
		
		                  }
			.text-center {
			font-size: 14pt;
			color: orange;
			padding: 2%;
			
		}			
		
			.companyname h6 {
				font-size: 10pt;
				padding: 10%;

		}
		.contact_footer {
			padding: 2%;
			font-size: 14pt;

		@media screen and (min-width: 0px) and (max-width: 500px) {
			text-align: center;

		}



		}
		.contact_footer h3 {
			text-align: left;
		
		@media screen and (min-width: 0px) and (max-width: 500px) {
			text-align: center;
			
		}


		
		}

	      }
	
}
