nav {
	
	
	 @media screen and (max-width: 500px) {
     
      padding-top: 20%;
     
   }
   
   @media screen and (min-width: 501px) and (max-width:991px){
     
     padding-top:10%;
     font-size: .7em;
   }
   
   @media screen and (min-width: 992px) and (max-width: 1280px){
     
     padding-top: 1%;
     font-size: .76em;
     
   }
	
	@media screen and (min-width: 1281px) and (max-width: 1440px){
	  
	  font-size: 1.3em;
	  
	}
	
	
}
 
    
.navbar {
	width: 100%;
		
	&-default {
	  background:none !important;
		border:0px !important;
		margin: 0px;
	}
	&-collapse {
		padding:0px;
	
	@media screen and (min-width:0px) and (max-width: 500px) {
		
		margin-top: 0%;
		
	}

	


	}	
	
	&-header {
		width: 100%;
	}
	
	&-row {
		padding:0px;
	}
	&-nav {
		width: 100%;


		& > li {
			&:nth-child(1) {
				margin-left:0%;
			}
		} 
		li {
		    font-size: 1.2em;	
			  			  
			   }

	.active > a {
		border-top-left-radius: 20px;
	}

	//@media screen and (min-width: 700px) { 
		background-color: rgba(128, 128, 128, 0.19);
		border-top-right-radius: 20px;
		border-top-left-radius: 20px;
		




	}
			   
	     
	 @media screen and (min-width:700px) and (max-width: 1024px){
	   
	   li {
	     
	     font-size: .9em;
	     
	   }
	   
	 }    
	     
	     
  @media screen and (min-width: 1281px) and (max-width: 1440px) {  
    
      li {
        
        font-size: 1em;
        
      }
    
  }	     
	     
	     
	     
	     
}


@media screen and (min-width: 0px) and (max-width: 600px) {
	.navbar-nav{
		margin-left: 4%;
		text-align: center;
		border-top-left-radius: 0px;

	}

}



 @media screen and(min-width: 0px) and (max-width: 600px){
        .socialmedia {
                list-style-type: none;
                display: inline;
                width: 40% !important;
        }


  }


.socialmedia {

	list-style-type: none;
	margin-top:6px;
	/*width:10.5%;*/
	width: 17%;
  	float:right; 
 	li {
		width: 40px;
		margin-right: 3px !important;
		float: left;
	}
  img {
    width: 100%;
  } 
 
 


  @media screen and (min-width: 700px) and (max-width: 1440px) {
    
  img {
    width: 100%;
    }
    

  li {
    
    margin-left: 0%;
    float: left;
    margin-right: -3%;
    
  }
}








  @media screen and (min-width: 1441px) and (max-width: 2100px){
    
    body > div.container-fluid.page > nav > ng-include > div > div > ul > li.active > a {
	background-color: transparent;

}
    

  li:nth-child(1){
    margin-left: 17.7%;
  }
  
  }
  
  @media screen and (min-width: 700px) and (max-width: 1440px) {
    
  li {
    margin-right: -6.4%;
    
  }
    
  li:nth-child(1) {
    
    margin-left: 2%;
    
  }  
    
  
  


}
}

.navbar-nav li:hover {
	background-color: orange;

}

