 .appicon01
        {
            background: url(../img/appicon/01.png);
        }
        .appicon02
        {
            background: url(../img/appicon/02.png);
        }
        .appicon03
        {
            background: url(../img/appicon/03.png);
        }
        .appicon01, .appicon02, .appicon03
        {
        	display: block;
            position: absolute;
            width: 160px;
            height: 150px;
        }
        .appicon01:hover, .appicon02:hover, .appicon03:hover
        {
            text-decoration: none;
        }
        .appiconcb
        {
            position: absolute;
            left: 0px;
            bottom: 10px;
            width: 160px;
            height: 25px;
        }
        .appiconc
        {
            position: absolute;
            left: 0px;
            bottom: 10px;
        	text-align: center;
            width: 160px;
            height: 25px;
            line-height:25px;
            font-family: Verdana, Arial;
        	color: #fff;
        	font-size:14px;
        	text-decoration:none;
        }
        .appicon01:hover .appiconcb, .appicon02:hover .appiconcb, .appicon03:hover .appiconcb
        {
            background-color: #fff;
            filter: alpha(opacity=30);
            opacity: .3;
        }
        .appicon01:hover .appiconc, .appicon02:hover .appiconc, .appicon03:hover .appiconc
        {
        	color: #000;
        }
	.portfolioinfo {
	     text-align: center;
             background-color: rgb(239, 239, 239);
             padding: 2%;
             border: 1px dotted lightgray;
             border-radius: 5px;
	     height:350px;
	     margin-bottom: 3%;
}
.portfolioinfo:hover {
     background-color: #F8A100;
     border: 2px dotted black;
}

    .portfolioinfo h3 {
          padding: 4%;

    }
.portfolio h1 {
      text-align: center;
      padding: 3%;
}
#portfolioimg {
	width: 100%;
	height: 30%;
}
.portfolioinfo a {
    background-color: white;
    font-weight: bold;
}


