.wdesign_content {

  padding: 5%;



}

.webdesign {

  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 1px solid black;
  padding: 15px;
  border-radius: 5px;
  h4 {
    font-weight:bold;
    text-decoration:underline;
  }

}