<div class="alert alert-success" role="alert" ng-if="response == 200">{{response}}</div>

<form>
    Name: <input type="text" ng-model="card.name"><br>
    CC Number: <input type="text" ng-model="card.number"><br>
    CC CCV: <input type="text" ng-model="card.ccv"><br>
    Exp Month: <input type="text" ng-model="card.exp_month">
    Exp Year: <input type="text" ng-model="card.exp_year">
    <input type="button" ng-click="submit();">
</form>