#media-menu {
	width: 30%;
	/*float: left;*/
	/*margin: 0 0 3em 0;*/
	margin: 0 auto 0 auto;
	padding: 0;
	list-style: none;
	/*border-bottom: 1px solid #ccc;*/
	font-size: xx-large;
/*	border: 1px solid #ccc;*/
}


body > header > div > div > div > div.box {
background-color:green;
}

#media-menu li {
float: left;

}
.box p a:hover { background-color:blue; }
#media-menu a{
	display: block;
	padding: 8px 10px;
	text-decoration: none;

	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc;
	border: 1px solid #ccc;


}


#media-menu li a:hover {
color: #c00;
background-color: #fff;


}


#admin-menu {
	width: 100%;
	height: 3%;
	background-color: gray;
	margin-bottom: 10%;


}


#admin-menu li {
list-style-type: none;
float: left;
}


#admin-menu a {
	display: block;
	padding: 2px 10px;
	text-decoration: none;
	color: black;

}

#admin-menu a:hover {
	color: #c00;
}

/*
#user-menu li {
list-style-type: none;
display: inline;
padding: 2px 10px;
}
*/

#user-menu {
	width: 100%;
	height: 3%;
	background-color: black;
	margin-bottom: 10%;
	margin-top: -10%;
	color: white;
}

#user-menu a {
	display: inline-block;
	color: white;
	text-decoration: none;
	padding: 2px 10px;
}

#user-menu a:hover {
	color: red;	
}
