
<div class="aboutus row">

  <div class="col-md-12">
    <div class="aboutus-beginning">
    <h2>About Us</h2>
      <p>Creativity is our passion. Here at Mousebit we pride ourselves on using that passion and

          dedication to provide programs that are ran efficiently, graphics that are tailored to the client, and

          success at the end of every challenge. Mousebit currently has 15 years of combined experience in web

          development and programming. It is our belief that companies today have forgotten what it means to

          offer quality service. Here at mousebit, all calls and emails are promptly returned.  Our greatest vision is that of a satisfied

          customer. All site changes requested by the customer will be made. You give us your ideas and we will

          make it reality. We look forward to your business and strive to set the standard for quality. </p>
      
    </div>
  </div>
</div>
<hr>
<div class="developers row">
	<div class="col-md-12">
	   <div class="chris">
		<h2>Developer Profiles</h2>
		<h3>Chris</h3>
		<p>
After graduating from the University of South Florida in 2014, he formed Mousebit Web Solutions alongside Justice. While in college he focused on web development and programming. These courses were  C++, Information Architecture, Information Behaviours, and IT Data Structures for engineers with a focus in Java. 
<br>
<br>
He loves to storyboard. does most of the styling on projects. He is a jack of all trades type of person. He has messed around with today’s popular programming languages and loves to try new languages frequently. 
<br>
<br>
His main passion outside of web development is playing music. He has played guitar since he was 12 and recently picked up the violin. He programs while taking care of pets which consist of an adorable pit bull,a cat with a bottomless belly, and two jujitsu practicing ferrets. 
		</p>
		</div>

	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-12">
		<div class="justice">
		<h3>Justice</h3>
		<p>	
		He is our web developer extraordinaire. He has developed everything from ECommerce solutions, extensive Drupal and WordPress modules but his real passion is being able to build a custom project from the ground up. He is constantly staying up to date on the latest technologies in the programming world so that he can bring the newest techniques to help clients in their projects. His love is really for the backend, making things work and come together. He has many years of experience crafting polished responsive frontends that everyone is looking for. 
<br><br>
Behind the scenes Justice is constantly working on custom software to suit our company’s needs that gives us capabilities that no one else has.  With over 10 years on the job training Justice can easily jump into a new project halfway completed and improve where others left off. 
<br><br>
When not working Justice likes to contribute to open source projects especially those pertaining to online gaming and Internet Relay Chat (IRC). 		  
<br><br>		</p>
		</div>
	</div>
</div>
