<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="CSS/style.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<title>Mousebit Web Solutions</title>

	<meta name="google-site-verification" content="L-2xCTWVXsVqZuGx1J8mRDaNtJGld2nl77PNnaaQsoY" />

	<meta name="keywords" content="Mousebit, web solutions, tampa web design, development, SEO, Small business">

	<meta name="description" content="Web design and development for businesses">

	<meta name="author" content="Christopher Hardee">
</head>
<body>
<div id="wrapper">	
	<div id="user-menu">
	<a href="index">Home</a>
	<a href="photographs">Photo Gallery</a>
<!--	<a href="contact">Contact Us</a> -->
{if isset($user)}

	<a href="edit_account">Edit Account</a>	
	
	

<!--	<a href="">Admin</a> -->
	<a href="logout">Logout</a>
	<a href="memberlist">Permissions</a>
	<a href="pricing">Pricing</a>
	<a href="fileupload">Upload A File</a>
	
{else}
	<a href="login">Login</a>
	<a href="register">Register</a>

{/if}
</div>

<div id="logo">	
	<img src="Upload/Image/goldstar7.png" class="mousebitlogothree" alt="mousebit" />
</div>



<!--
<div id="photogallery">
	<a href="/photographs">P<br>h<br>o<br>t<br>o<br>g<br>a<br>l<br>l<br>e<br>r<br>y</a>
</div>

-->

<!--	{if isset($user) && $user.admin eq '1'}
<div id="admin-menu">
	
	
<a href="files">Files</a><br />
</div>
	{/if}
-->



<!--	
<div id="login-menu">
	<a href="login">Login</a> 
	<a href="register">Register</a>
</div>
	
-->
