<div class="index">
	<div class="portfolios">
		<div class="heading">Portfolios</div>
		<div class="portfolio">
			Portfolio
		</div>
		<div class="portfolio">
			Portfolio
		</div>
		<div class="portfolio">
			Portfolio
		</div>
		<div class="portfolio">
			Portfolio
		</div>
		<div class="portfolio">
			Portfolio
		</div>
		<div class="portfolio">
			Portfolio
		</div>
		
	</div>
	<div class="company">
		<div class="heading">Heading</div>
		Welcome to Mousebit Web Solutions LLC
	</div>
</div>

	
<!--{if isset($user) && $user.admin eq '1'}
	<a href="video">Media</a>
	
	<div id="admin-menu">

	

</div>

{/if}

<div id="user-menu">
	<a href="login">Login</a>
	<a href="register">Register</a>	
</div>
	{if isset($user) && $user.admin eq '1'}
	<div id="content">
	<div id="media-menu"></div>
		</div>

	{/if}
-->