

<center>
<h1>Login</h1> 
<form action="login" method="post"> 
    Username:<br /> 
    <input type="text" name="username" value="{$submitted_username}" /> 
    <br /><br /> 
    Password:<br /> 
    <input type="password" name="password" value="" /> 
    <br /><br /> 
    <input type="submit" value="Login" /> 
</form> 
</center>



