<!--<script>

function _(el){
	return document.getElementById(el);
}
function uploadFile(){
	var file = _("file1").files[0];
	//alert(file.name+" | "+file.size+" | "+file.type);
	var formdata = new FormData();
	formdata.append("file1", file);
	var ajax = new XMLHttpRequest();
	ajax.upload.addEventListener("progress", progressHandler, false);
	ajax.addEventListener("load", completeHandler, false);
	ajax.addEventListener("error", errorHandler, false);
	ajax.addEventListener("abort", abortHandler, false);
	ajax.open("POST", "../includes/file_upload_parser.php");
	ajax.send(formdata);
}
function progressHandler(event){
	_("loaded_n_total").innerHTML = "Uploaded "+event.loaded+" bytes of "+event.total;
	var percent = (event.loaded / event.total) * 100;
	_("progressBar").value = Math.round(percent);
	_("status").innerHTML = Math.round(percent)+"% uploaded... please wait";
}
function completeHandler(event){
	_("status").innerHTML = event.target.responseText;
	_("progressBar").value = 0;
}
function errorHandler(event){
	_("status").innerHTML = "Upload Failed";
}
function abortHandler(event){
	_("status").innerHTML = "Upload Aborted";
}
</script>
-->
<h2>HTML5 File Upload</h2>
<form action="fileupload" id="upload_form" enctype="multipart/form-data" method="post">
  <input type="file" name="file1" id="file1">
	<select id="genre" name="genre" style="display:none;">
		<option>Action</option>
		<option>Comedy</option>
		<option>Drama</option>
		<option>Horror</option>
		<option>Romance</option>
		<option>Thriller</option>
	</select>
		<select id="softwaretype" name="softwaretype" style="display:none;">
		<option>Games</option>
		<option>Operating Systems</option>
		<option>Utilities</option>
		<option>Documents</option>
	</select>
	<br>
  <input type="submit" name="submit" value="Upload File" onclick="uploadFile()">
</form>

<script>



$('#file1').change(function(){

	var filename = $('#file1').val();
	var extension = filename.split('.');
	var filetype = ['mp4','wmv','mkv','avi'];
	var softwaretype = ['exe','dmg','deb','zip','rpm','iso','doc','txt','html','php','rtf','xls'];
	var ext = extension[1];
	var video = 0;
        var software = 0;
        $.each(filetype,function(index, value) {
                if (value == ext) {
                        $('#genre').show();
                        video = 1;
                }
        });

        $.each(softwaretype, function( i, v) {
                if (v == ext) {
                        $('#softwaretype').show();
                        software = 1;
                }
        });
        if (!video) {
                $('#genre').hide();
        }
        if (!software) {
                $('#softwaretype').hide();                                              }

/*	
if (jQuery.inArray(extension[1],softwaretype) && !jQuery.inArray(extension[1],filetype)) {
		$('#softwaretype').show();
		
		
	} else {
 	
	if (jQuery.inArray(extension[1],filetype)) {
		$('#genre').show();
		
	}
	}
*/
});



</script>
