 <div class="container-fluid navbar-row">
    <div class="navbar-header">
  <!--  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/portfolios/">Portfolios</a></li>
         <li> <a href="/about-us/" >About Us </a>
        </li>
	    <!--  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true" href="">Services <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu"> -->
		<li><a href="/services/hosting/">Hosting</a></li>
               	<li><a href="/services/socialmedia/">Social Media</a></li>  
		<li><a href="/services/web-development/">Web Development</a></li>
                <li><a href="/services/web-design/">Web Design</a></li>
                <li><a href="/services/marketing-seo/">Marketing</a></li>
            
            
          
	</ul>
</div>

