<div class="row">
	<div class="col-md-4 footer-nav">
	<h3 class="footer_nav_h3">Site Navigation</h3>
		<ul class="">
        		<li class="active"><a href="/#/">Home</a></li>
        		<li ng-class="{'active': Variables.showPortfolio}"><a href="" ng-click="Variables.showPortfolio = !Variables.showPortfolio;updateHero()">Portfolios</a></li>
        		<li class="dropdown">
          			<a href="/#/about-us/">About Us </a>
        		</li>
	      		<li><a role="button" aria-expanded="true" href="">Services</a></li>
			<li><a href="/#/privacy-policy">Privacy Policy</a></li>
      		</ul>
	</div>
	<div class="col-md-4 companyname"></div>
	<div class="col-md-4 contact_footer">
		<h3 class="text-center">Contact</h3>

		<div class="fb-like" data-href="http://mousebit.com" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
		<br><a href="mailto:contact@mousebit.com">contact@mousebit.com</a><br>
		<a href="tel:8669600962">866.960.0962</a>
		
	</div>
</div>
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4 companyname"><h6>&copy; Mousebit Web Solutions, LLC 2015</div>
<div class="col-md-4"></div
</div>

