<div class="row">

	<div class="col-md-6 logo_section">

	<div class="Logo">
			<div class="Logo-site"><img class="logo_img" src="/images/Mousebit_logo.png" alt="Mousebit Logo"><h1><span>Mouse</span>bit</h1></div>
				<h3>Web Solutions</h3>
	</div>

	</div>

	<div class="col-md-2"></div>

	<div class="col-md-4 contact_section ">

	<div class="contact">
		<div class="contact-btn-1">
	<button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span><a href="mailto:contact@mousebit.com"> </button>
	 <a href="mailto:contact@mousebit.com">contact@mousebit.com</a><br>
		</div>

	<div class="contact-btn-2">
	<button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-earphone"></span></button> <a href="tel:18669600962"> 866.960.0962</a>
</div>
		</div>
	
	</div>


</div>
