<div class="row portfolio">
    <h1>Mousebit's Portfolio</h1>
<div ng-repeat="p in portfolios" class="col-md-4">
   <div class="portfolioinfo"> <h3>{{p.name}}</h3> <img id="portfolioimg" src="{{p.image}}"><br>
    {{p.description}} <a href="{{p.url}}">{{p.url}}</a>
   </div>
</div>
</div>
