<div class="hostingpage">
<div class="row">
	<div class="col-md-12 text-center">Hosting</div>
</div>
<div class="row">
	<div class="col-md-12 server-hosting">

<h4>Server Hosting</h4>
<p>We use Linode.com for our hosting needs. We are very familiar with using their platform and know how to make sure that our servers are up 99.9% of the time. We can do backups and advanced configurations on their OS. We are setting up and maintaining hosting for our clients. 
<br>
<br>
The cost for hosting and maintenance is $20 per month.<br> 
<br>

</p>	</div>
</div>

<div class="row">
	<div class="col-md-12 email-hosting">
<h4>Email Hosting</h4>
		<p>Our email hosting is ran through Google Business Apps. We add clients to gmail under their own domain. They will gain access to all the apps that are given through a Google Business App subscription. 
		</p>
	</div>
</div>

<div class="row">
	<div class="col-md-12 policy-hosting">
	
		<br>
		<h4>Policy</h4>

		<p>
All hosting is ran from <a href="www.linode.com">Linode.com</a> This includes the hardware and software that hosts data. We are reselling this service and adding the convenience of setting up and maintaining the host. <br><br> 
		</p>
	</div>
</div>
</div>












