<ng-include src="'js/app/views/services/web-development.html'" ng-if="action == 'web-development'"></ng-include>
<ng-include src="'js/app/views/services/web-design.html'" ng-if="action == 'web-design'"></ng-include>
<ng-include src="'js/app/views/services/marketing-seo.html'" ng-if="action == 'marketing-seo'"></ng-include>
<ng-include src="'js/app/views/services/socialmedia.html'" ng-if="action == 'socialmedia'"></ng-include>
<ng-include src="'js/app/views/services/hosting.html'" ng-if="action == 'hosting'"></ng-include>
