<div class="sm">
<h4>Why it's important for Social Media Integration</h4>
<p>
Social media has been the hype for some time and for the most part it is true. Social media can help your current platform by allowing users who already are familiar with the established social networks to use your website. 
</p>
<br>
<h4>Social Media is not a website replacement</h4>
<p>
A website is your business card on the net. It can drive your sales up because the site can be programmed to handle payments, display portfolios, and create fully customized systems. Social Media apps lack the features that a fully developed website has, plus you get control over the users that visit your site. 
Social Media should be used as a tool to drive traffic to your business's website.  
</p>
<br>

[Social Media Networks]
Below are some social media services we will be able to manage and/or integrate.<br><br> 

Facebook 	Twitter 	LinkedIn	Yelp	        Google Hangouts

<br>

[Social Media Setup]
	As a service:

[CTA]
</div>
