
<div class="wdev_content">
<h1>Web Development</h1>
<br>
        <p>Technology is always changing. That means as computer programmers we must always adapt to new ways of thinking. We are always learning new languages and solving new puzzles. So far, we have taken on the following frameworks and languages. </p>
<br>


    <div class="row services">
        <div class="col-md-4">
            <h4>Frameworks:</h4>
            <ul>
                <li><a href="https://angularjs.org/" target="_blank">AngularJS</a></li>
                <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap 3</a></li>
                <li><a href="http://qt-project.org/" target="_blank">Qt</a></li>
                <li><a href="http://www.yiiframework.com/" target="_blank">Yii</a></li>
                <li><a href="http://www.codeigniter.com/" target="_blank">Codeigniter</a></li>
                <li><a href="http://fuelphp.com/" target="_blank">FuelPHP</a></li>
            </ul>
        </div>


        <div class="col-md-4">
            <h4>CMS:</h4>
            <ul>
                <li><a href="http://drupal.com/" target="_blank">Drupal</a></li>
                <li><a href="https://wordpress.org/" target="_blank">WordPress</a></li>
                <li><a href="https://www.joomla.com/" target="_blank">Joomla</a></li>
                <li><a href="https://www.pyrocms.com/" target="_blank">PyroCMS</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4>Programming & Markup Languages:</h4>
            <ul>
                <li><a href="http://www.cplusplus.com/" target="_blank">C++</a></li>
                <li>HTML5</li>
                <li><a href="https://www.java.com/en/" target="_blank">Java</a></li>
                <li><a href="http://www.w3schools.com/js/" target="_blank">JavaScript</a> /  <a href="http://jquery.com/">jQuery</a></li>
                <li><a href="http://www.latex-project.org/" target="_blank">LaTeX</a></li>
                <li><a href="http://php.net/" target="_blank">PHP</a></li>

            </ul>

        </div>

    </div>



