<div class="container">
    <div class="row">
        <div ng-show="!showForm" ng-click="exit()" class="Login-spinner">

        </div>
        <div class="col-md-4">

            <div ng-show="showForm"  class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel panel-default">
                            <div class="panel-heading"> <strong class="">Login</strong>

                            </div>
                            <div class="panel-body">
                                <form ng-submit="logIn(credentials)" class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                                        <div class="col-sm-9">
                                            <input ng-model="email" type="email" class="form-control" id="inputEmail3" placeholder="Email" required="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
                                        <div class="col-sm-9">
                                            <input type="password" ng-model="password"  class="form-control" id="inputPassword3" placeholder="Password" required="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <div class="checkbox">
                                                <label class="">
                                                    <input type="checkbox" class="">Remember me</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group last">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <button type="submit" class="btn  btn-md">Sign in</button>
                                            <button type="reset" class="btn btn-md">Reset</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="panel-footer">Not Registered? <a href="#" class="">Register here</a>
                            </div>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>
</div>
