<script type="text/javascript">
    jQuery(document).ready(function ($) {
        var stop = 1;

        var options = {$AutoPlay: true, $AutoPlayInterval: 4000};
        var slider1 = new $JssorSlider$('slider1_container', options);
        $('#slider1_container .btn').slideUp();
        slider1.$On($JssorSlider$.$EVT_PARK,function(slideIndex,fromIndex){
            if (stop != slideIndex && fromIndex != slideIndex) {
                stop = slideIndex;
                console.log(slideIndex);
                switch (slideIndex) {
                    case 0:
                        $('.Home-webDesign .btn').slideUp();
                        $('.Home-webDev > .btn').slideDown();
                        break;
                    case 1:
                        $('.Home-webDev .btn').slideUp();
                        $('.Home-webDesign > .btn').slideDown();
                        break;
                    default:
                        break;
                }
            }
        });
    });
</script>
<script>
    $("#more").click(function (){
        $('.more_testimonials').slideToggle("slow", function(){
        });
    });

</script>
<div id="content">
	<div class="container-fluid">
		<div class="row" title="Slider">
			<!--<img  data-ng-init="log('Hero Image Loaded')" src="/Upload/Image/mousehero.jpg" alt="Mousebit"> -->
            <div id="slider1_container" class="Home-slider">
                <!-- Slides Container -->

		<div class="socialmedia">
              <li><a target="_blank" href="http://www.facebook.com/mousebit"><img src="/Upload/Image/facebookicon.png" alt="facebook"></img></a></li>
        <li><a target="_blank" href="http://www.twitter.com/mousebitllc"><img src="/Upload/Image/twitter.png" alt="twitter"></img></a></li>
        <li><a target="_blank" href="https://plus.google.com/106067324246414651852" rel="publisher"><img src="/Upload/Image/googleplus.png" alt="googleplus"></img></a></li>
       </div>

                <div u="slides" class="Home-slider-slides">
                    <div class="Home-webDev">
                        <h1>Are you in need of a website?</h1>
			<p> We will build your website from the ground up.</p>			<p> Handcoded specifically for you!</p><br>
                        <hr>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#quoteModal">Request a Quote</button>
                    </div>
                    <div class="Home-webDesign">
                        <h1>Looking for a web company that is both available and flexible?</h1>
                        <p>Our team will work with you to build your website based on your companies needs. <br>We hand code them specifically for you.  
                       Modern, cutting-edge, and unique!</p><br>
 <hr>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#contactModal">Contact Us</button>
                    </div>
                </div>
            </div>
            <!-- Contact Modal -->
            <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="contactModalLabel">Contact Us</h4>
                        </div>
                        <div class="modal-body">
                            <div ng-show="contactSubmitted" class="row">
                                    Thank You
                            </div>
                            <form ng-show="!contactSubmitted" ng-submit="submitContact()">
                                Name: <input type="text" ng-model="name" title="Name"><br>
                                Email: <input type="email" ng-model="email" title="Email"><br>
                                Company: <input type="text" ng-model="company" title="Company"><br>
                                Message: <textarea>{{message}}</textarea><br>
                                <button type="button" class="btn btn-default" data-dismiss="modal" title"Close form">Close</button>
                                <button ng-click="submitContact()" type="button" class="btn btn-primary" title="Save Changes">Save changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Quote Modal -->
            <div class="modal fade" id="quoteModal" tabindex="-1" role="dialog" aria-labelledby="quoteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="quoteModalLabel">Request A Quote</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row" ng-show="submitted">
                                Thank You
                            </div>
                            <div class="row" ng-show="!submitted">
                                <div class="quote">
                                    <div class="col-md-4">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-4 col-md-offset-1">
                                                    <div class="panel panel-default">
                                                        <div class="panel-body">
                                                            <form ng-submit="submitQuotes()" class="form-horizontal" role="form">
                                                                <div class="form-group">
                                                                    <label for="name" class="col-sm-3 control-label">Name</label>
                                                                    <div class="col-sm-9">
                                                                        <input ng-model="name" type="text" class="form-control" id="name" placeholder="Name" required="">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="phone" class="col-sm-3 control-label">Phone</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="phone" ng-model="phone"  class="form-control" id="phone" placeholder="Phone" required="" title="Phone">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="email" class="col-sm-3 control-label">Email</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="email" ng-model="email"  class="form-control" id="email" placeholder="Email" required="" title="Email Address">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="company" class="col-sm-3 control-label">Company</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" ng-model="company"  class="form-control" id="company" placeholder="Company" required="" title="Company Name">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="serviceType" class="col-sm-3 control-label">Service Type</label>
                                                                    <div class="col-sm-9">
                                                                        <select name="serviceType" id="serviceType" class="form-control" ng-model="serviceType">
                                                                            <option>Web Development</option>
                                                                            <option>Graphic Design</option>
                                                                            <option>SEO</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="comments" class="col-sm-3 control-label">Comments</label>
                                                                    <div class="col-sm-9">
                                                                        <textarea name="comments" ng-model="comments" class="form-control" id="comments"></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group last">
                                                                    <div class="col-sm-offset-3 col-sm-9">
                                                                        <button type="submit" class="btn  btn-md">Submit</button>
                                                                        <button type="reset" class="btn btn-md">Reset</button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
		</div><!-- /row -->
		<div class="row">
			<div class="col-md-12 content-1-heading">
			  	<h3>Professional Web Design</h3>
				<p>We offer a service of building websites to meet the clients expectations. The benefit of going through Mousebit is that we are always an email or phone call away. Our focus is on dynamic, functional, and responsive designs. Our goal is to make sure that our clients have future-proofed websites. </p> 			
			
        	    	</div>
		</div>
	<!--	<div class="row">
			<div class="col-md-12 text-center">
                <button class="btn btn-primary" data-toggle="modal" data-target="#quoteModal"
                        style="font-size:90%;transform: perspective(2000px); display: inline-block;">Request a
                    Quote</button>
        		</div>
		</div>
	-->
		<div class="row">
			<div class="col-md-12 Testimonials">
	            <hr>
				<h3 class="text-center">Testimonial</h3>
				<blockquote>"The guys at Mousebit are everything I needed them to be.....Creative, Professional, Knowledgable, and Proficient.  They took my ideas and developed them into my site and logo.  I could not be happier, and would definitely recommend them to anyone I know!" -Eddie Kellar, <a href="http://www.kellarrealty.com" target="_blank">Kellar Realty</a></blockquote>
               <!--     <div class="more">
                        <div class="more_testimonials">
                            <blockquote>"This is a blockquote test for stuff." -Admin</blockquote>


                        </div>


                        <a href="#" id="more"><h3>More...</h3></a>
                    </div> -->
                <hr>
	</div>
		</div>
		<div class="row">
			<div class="col-md-12 mousebit-location">
			<h3>Our Location</h3>
				<p>Mousebit Web Solutions is based out of Tampa Bay. We offer services to the entire state of Florida. We have more than 10 years of experience in the field assisting us to make the best websites we can for our clients. We are happy when our clients are happy. </p>
		<hr>
		</div>

		</div>
		<div class="row">
			<div class="col-md-12 mousebit-workprocess">
			 <h3>Our Work Process</h3>
				<p>Mousebit boasts a verified and thorough workflow process to make sure the client is always happy and feels secure about what is happening with their product. From the get-go, we like to ensure we have a clear understanding of what you expect the final product to be. Projects begin with a questionnaire to give us an idea of your personal style.</p>
			<!--	<ul> 
					<li>Working Mockup</li>
					<li>DNS Configuration</li>
					<li>See to completion</li>
					<li>Integrate with social networks</li>
					<li>Added layer of SEO</li>
				</ul>
			-->
			
			</div>
		</div><!-- /row -->

 		<!--<div class="row">
                        <div class="col-md-12 text-center">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#quoteModal"
                                    style="transform: perspective(2000px); display: inline-block;font-size:90%">Request a Quote</button>
                                <hr>
                        </div>
                </div>
		-->
		

		<!--  <div class="row">                                                                                       
                        <div class="col-md-12">
                                <h3 class="text-center">Services</h3>                                                                         
                        </div>
                </div>
		<div class="row services-row-1">
			<div class="col-md-6">
				<br><strong>Hosting</strong><br>
We provide both web and email hosting. Our email hosting is through GMail so your users can integrate with the plethora of services Google supports.
			</div>
			<div class="col-md-6">
			<br><strong>Social Media Integration</strong><br>
All of our projects have the ability to integrate with your social media accounts. This can include Twitter streams and Facebook “likes” and “comments”. 
			</div>
		</div>
		<div class="row services-row-2"> 
			<div class="col-md-6">
				<br><strong>Web Design</strong><br>
Themes, logos, and wireframes are all something we enjoy doing. We incorporate colors chosen by the client and try to place them in a way that makes the website feel personalized. Most of our designs start in a sketchbook. They are then taken to Photoshop, then written to CSS3 and tested in the browser.  
			</div> 
			<div class="col-md-6">
				<br><strong>Training</strong><br>
Our tutors provide the knowledge of a seasoned developer for a fraction of the price of a university. These students come out with a full portfolio and some work experience. 

			</div>
		</div>
		<div class="row services-row-3">
			<div class="col-md-6">
				<strong>Web Development</strong><br>
There have been many different tools created over the years to aid in web dev. We like to learn and use the most efficient tool for the job. Want a site developed in a specific code base? That's fine. We will learn it and use it in your web app. We co
mmonly use the LAMP stack with CSS, JQuery and AngularJS. We also use WordPress and Drupal. 
			</div> 
		
			<div class="col-md-6">
				<strong>Sub Contracting</strong><br>
We partner with local businesses who have an overflow of work and a strict deadline. We act as subcontractors and help pick up the slack. 

			</div>
		</div>
		<div class="row services-row-4"> 
		
			<div class="col-md-6">
				<strong>Mobile Web App Development</strong><br>
We offer clients with the need of a fully responsive website that doesn’t lose any functionality across browsers and devices. This application is the same as your standard application but is especially tuned for mobile devices.
			</div>
			<div class="col-md-6">
				<strong>Marketing</strong><br>
Every site needs an identity. We are here to help promote yours. We want to make sure that your web app represents your company in a successful and professional way. We will give you advice on what proper marketing techniques are for boosting up your web application. 
			</div>
		</div>
		<div class="row services-row-5"> 
			<div class="col-md-6">
				<strong>SEO</strong><br>
We offer SEO (Search Engine Optimization) services to get your website ranked and to drive traffic so that it translates to more dollars in your pocket. SEO helps to get your message out there.  We are partnered with a local company that specializes in SEO and they can be brought in for larger projects as consultants. 
			</div> 
			<div class="col-md-6">
				<strong>Support</strong><br>
We want to make sure that our clients have the proper support to maintain a working website. Our support staff is always notified when you have a problem. Just make sure that you submit a ticket in our support section and we will complete your task as fast as possible. We offer different tiers of support to make sure that everyone is covered.
			</div> 
		</div>
		<div class="row services-row-6">
			<div class="col-md-6">
				<strong>Analytics</strong><br>
All of our projects have the capability to integrate with Google Analytics or any other analytic software with an API.  We will help define events and block blacklisted sites from corrupting 
your indexed data. 
			</div> 
			<div class="col-md-6">
				<strong>CMS Customization</strong><br>
Our staff loves the Drupal Content Management System. We are just now getting active in this open source community and want to continue to build Drupal websites. We do module and sub theme development in Drupal and love the tools that it provides us. If Drupal is not something that interests you, we also work in WordPress. 
			</div> 
		</div>
		<div class="row services-row-7">
			<div class="col-md-6">
				<strong>API Integration</strong><br>
Here at Mousebit we have a customizable API that can be integrated with any of our projects to extend their flexibility and functionality. We will also integrate with 3rd party APIs such as Google, YellowPages, Facebook, Stripe/Authorize.net, etc. 
			</div> 
			<div class="col-md-6">
				<strong>Consulting</strong><br>
We offer consulting services to local businesses to help relieve some of the stress and offer an expert opinion on their product. 

			</div> 
		</div>-->
		 <hr> 
                <div class="row">
                        <div class="col-md-12 text-center">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#quoteModal"
                                    style="transform: perspective(2000px); display: inline-block;font-size:90%">Request a Quote</button>
                                <hr>
                        </div>
                </div>
<!--
		<div class="row">
			<div class="col-md-6">
				<h3 class="text-center">[Web Stats]</h3>
			</div>
			<div class="col-md-6">
				<h3 class="text-center">[Sign up for newsletter]</h3>
			
</div>
		</div>
-->
	</div> <!-- /container_fluid -->
</div><!-- /content -->





