<div class="container">
    <div class="row">
      <div class="quote">
        <div ng-show="showForm == 0" ng-click="exit()" class="Login-spinner">

        </div>
        <div class="col-md-4">

            <div ng-show="showForm"  class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel panel-default">
                            <div class="panel-heading"> <strong class="">Request A Quote</strong>

                            </div>
                            <div class="panel-body">
                                <form ng-submit="add()" class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label for="name" class="col-sm-3 control-label">Name</label>
                                        <div class="col-sm-9">
                                            <input ng-model="name" type="text" class="form-control" id="name" placeholder="Name" required="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone" class="col-sm-3 control-label">Phone</label>
                                        <div class="col-sm-9">
                                            <input type="phone" ng-model="phone"  class="form-control" id="phone" placeholder="Phone" required="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-sm-3 control-label">Email</label>
                                        <div class="col-sm-9">
                                            <input type="email" ng-model="email"  class="form-control" id="email" placeholder="Email" required="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="company" class="col-sm-3 control-label">Company</label>
                                        <div class="col-sm-9">
                                            <input type="text" ng-model="company"  class="form-control" id="company" placeholder="Company" required="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="serviceType" class="col-sm-3 control-label">Service Type</label>
                                        <div class="col-sm-9">
                                            <select name="serviceType" id="serviceType" class="form-control" ng-model="serviceType">
                                                <option>Web Development</option>
                                                <option>Graphic Design</option>
                                                <option>SEO</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="comments" class="col-sm-3 control-label">Comments</label>
                                        <div class="col-sm-9">
                                            <textarea name="comments" ng-model="comments" class="form-control" id="comments"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group last">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <button type="submit" class="btn  btn-md">Submit</button>
                                            <button type="reset" class="btn btn-md">Reset</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
        </div>
        </div>
    </div>
</div>
